HTML,body,main{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#criarProjetoBotao{
    align-self: center;
    margin-bottom: 50px;
    background-color: #4c4cb1;
    border-radius: 12px;
    margin-top: 50px;
  width: 700px;
    height: 100px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.criarProjeto{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#formProjeto{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    font-size: 1.5rem;
}

#nomeProj{
     border-radius: 12px;
    width: 550px;
    height: 50px;
    font-size: 1.5rem;
}

#responsavelProj{
    border-radius: 12px;
    width: 500px;
    height: 30px;
    font-size: 1.2rem;
}

#membrosProj{
    border-radius: 12px;
    width: 500px;
    height: 30px;
    font-size: 1.2rem;
}

.projeto{
    background-color: rgb(79, 79, 135);
    border-radius: 12px;
    padding: 15px;
    display: flex;

}

.atividade{
    border-radius: 10%;
}

.formAtividade{
    border-radius: 12px;
}

.projeto button{
    border-radius: 12px;
    background-color: white;
    
}